<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>getController</servlet-name>
  	<display-name>getController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getdeleteController</servlet-name>
  	<display-name>getdeleteController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.deleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getuserModel</servlet-name>
  	<display-name>getuserModel</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.model.userModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getaddMusicController</servlet-name>
  	<display-name>getaddMusicController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.addMusicController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getdelMusicController</servlet-name>
  	<display-name>getdelMusicController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.delMusicController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getadminLoginController</servlet-name>
  	<display-name>getadminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.adminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getmusicUController</servlet-name>
  	<display-name>getmusicUController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.musicUController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getmusicController</servlet-name>
  	<display-name>getmusicController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.musicController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getuserLoginController</servlet-name>
  	<display-name>getuserLoginController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.userLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getaddUserController</servlet-name>
  	<display-name>getaddUserController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.addUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getuserController</servlet-name>
  	<display-name>getuserController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.userController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getregisterController</servlet-name>
  	<display-name>getregisterController</display-name>
  	<description></description>
  	<servlet-class>com.Dutta.web.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getController</servlet-name>
  	<url-pattern>/getController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getdeleteController</servlet-name>
  	<url-pattern>/getdeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getuserModel</servlet-name>
  	<url-pattern>/getuserModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getaddMusicController</servlet-name>
  	<url-pattern>/getaddMusicController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getdelMusicController</servlet-name>
  	<url-pattern>/getdelMusicController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getadminLoginController</servlet-name>
  	<url-pattern>/getadminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getmusicUController</servlet-name>
  	<url-pattern>/getmusicUController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getmusicController</servlet-name>
  	<url-pattern>/getmusicController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getuserLoginController</servlet-name>
  	<url-pattern>/getuserLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getaddUserController</servlet-name>
  	<url-pattern>/getaddUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getuserController</servlet-name>
  	<url-pattern>/getuserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getregisterController</servlet-name>
  	<url-pattern>/getregisterController</url-pattern>
  </servlet-mapping>
  
  
</web-app>
